
#portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  border: 2px solid rgb(193, 215, 249);
	padding: 5px;
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: 10px;
}
.thumbnail:hover {
  border: 5px solid rgb(193, 215, 249);
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.por {
  width: 100%;
  height: auto;
}
.thumbnail img.aboard {
  left: 20px;
  top: 70%;
  height: 200%;
  width: auto;
  -webkit-transform: translate(-10%,-50%);
      -ms-transform: translate(-10%,-50%);
          transform: translate(-10%,-50%);
}
.thumbnail img.sand {
  left: 20px;
  top: 97%;
  height: 230%;
  width: auto;
  -webkit-transform: translate(-30%,-50%);
      -ms-transform: translate(-30%,-50%);
          transform: translate(-30%,-50%);
}
.thumbnail img.madrona {
  left: -23%;
  top: 0%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(0%,0%);
      -ms-transform: translate(0%,0%);
          transform: translate(0%,0%);
}



/* BUTTONS / GALLERY NAV */

.toolbar {
  margin-bottom: 40px;
}
.btn2 {
  border: 2px solid #a3c0ff;
  background-color: #a3c0ff;
	color: #fff;
	font-family: 'Raleway';
	font-size: 17px;
	text-transform: uppercase;
  width: 96px;
	height: 33px;
	margin-top:10px;
	margin-right:10px;
}

.btn2:hover, .btn2:active, .btn2:visited {
  border: 2px solid #a3c0ff;
  background-color: #fff;
  color: #a3c0ff;
}

.btn2:focus {
  border: 2px solid #a3c0ff;
  background-color:#fff;
  color: #a3c0ff;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
