
body {
  background-color: #fff;
}
/* ========= MAIN / ETC ======== */
p {
  line-height: 1.8rem;
}
#index-banner h1 {
	margin-top:100px;
	text-transform: uppercase;
	font-family: 'Quicksand';
	letter-spacing: 0.0125em;
	font-weight:300;
	font-size: 60pt;
}
#index-banner h5 {
  font-size:28px;
	margin-top:80px;
}
#index-banner h3 {
	font-family: 'Cutive Mono';
  font-size:28px;
	line-height:.2;
	border: none;
}
h3 {
	font-weight: 200;
	/*border-bottom: 3px solid #777de2;*/
	/*border-bottom: 3px solid #5eb9e2;*/
	/*border-bottom: 3px solid #5c91e1;*/

	margin-bottom:20px;
	padding-bottom:5px;
	font-family: 'Quicksand';
	font-weight:300;
	font-size: 36pt;
}

h2 {
	font-weight: 200;
	border-bottom: 3px solid #fff;
	color: #fff;
	margin-bottom:20px;
	padding-bottom:5px;
	font-family: 'Quicksand';
	font-weight:300;
	font-size: 36pt;
}
.container {
	width: 83%;
}
h4 {
font-family: 'Cutive Mono';
font-size:40px;
margin-bottom:20px;
}
.page-section {
	font-family: 'Roboto';
	font-weight:300;
	font-size:16px;
	margin-top:15px;
	margin-bottom:70px;
	padding-top:80px;
}
/* TODO: reduce redundancy here */
.page-section-about {
	font-family: 'Roboto';
	font-weight:300;
	font-size:16px;
	padding-bottom: 70px;
	padding-top:95px;
}
.sec-section {
margin-right:3%;
}

/* ========= ABOUT ME ======== */
h6 {
	font-size: 30px;
	font-weight:500;
	font-family: 'Cutive Mono';
	line-height: 1.1;
	margin-top: 15px;
}
.section-img {
	margin-left:15%;
	margin-right:15%;
	margin-top: 15px;
	padding: 5px;
	width: 75%;
	border: 4px solid rgb(193, 215, 249);
}
@media(min-width: 1200px) {
.section-img {
	max-width: 300px;
	}
}
@media(max-width:600px ){
.section-img {
	 width: 60%;
	 margin-bottom: 10%;
	 margin-left:20%;
	 margin-right:20%;
	}
}

/* ========= SKILLS ======== */
.skills-icons {
	display: inline;
	float:left;
	width:50%;
}
@media(max-width:800px ){
	.skills-icons {
		display: block;
		margin-top:5%;
		width: 100%;
	}
	.skills-icons img {
		width:80%;
	}
	.skills-icons-cont {
		margin-top:5%;
		margin-bottom: 5%;
	}
}



/* ========= WORK / SLIDER ======== */
.work {
	padding-bottom:40px;
}
.myInfo { margin-left:20px}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.myInfo button {
  border: 2px solid #a3c0ff;
  background-color: #a3c0ff;
	color: #fff;
	font-family: 'Raleway';
	font-size: 17px;
	text-transform: uppercase;
  width: 96px;
	height: 33px;
	margin-top:10px;
	margin-right:10px;

}
.myInfo button:hover {
  border: 2px solid #a3c0ff;
  background-color: #fff;
  color: #a3c0ff;
}
.divider {
  border: 1px solid rgb(221, 221, 221);
	height: 0;
  width: 80%;
  margin-bottom:40px;
  margin-top:40px
}
.h3-heading {
border: 2px solid rgb(193, 215, 249);
width: 50%;
margin-top:5px;
margin-bottom:20px;
}
#work img {
  border: 3px solid rgb(193, 215, 249);
	padding: 5px;
}


 /* ========= RESUME ======== */
 #resume a {
 	color: rgba(255,255,255,.6);
 	font-family: 'Work Sans';
 	font-weight: 300;
 	text-transform: uppercase;
 }
 #resume a:hover {
 	color: rgba(255,255,255,.6);
  background-color: rgba(255,255,255,.6);
 	font-family: 'Work Sans';
 	font-weight: 300;
 	text-transform: uppercase;
 }
.resume-btn {
  border: 2px solid #fff;
  color: #fff;
	background-color: transparent;
	font-family: 'Quicksand';
	font-size:24px;
	text-transform: uppercase;
  padding:20px 45px;
}

.resume-btn:hover, .resume-btn:active{
	background-color: #fff;
	color: grey;
}
